/* Assure un défilement fluide vers les éléments d'ancrage */
html {
  scroll-behavior: smooth;
}

/* Style des liens dans le menu de navigation */
.nav-menu a {
  text-decoration: none;
  color: #333; /* Couleur du texte */
}

/* Style des liens au survol */
.nav-menu a:hover {
  color: #007bff; /* Couleur de survol */
}
