#about {
    background-color: #F5DEB3;
    padding: 50px 20px;
    text-align: center;
    color: white;
    font-family: 'Arial, sans-serif';
  
    .apropos {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 800px;
      margin: 0 auto;
      background: black;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
  
      .profile-pic {
        border-radius: 50%;
        width: 210px;
        height: 210px;
        object-fit: cover;
        margin-bottom: 20px;
      }
  
      .me {
        text-align: left;
        p {
          font-size: 1.2em;
          line-height: 1.6;
          margin-bottom: 20px;
        }
        .button-container{
          display: flex;
          justify-content: center;
          
        button{
            
            
            margin-top: 3em;
            margin-bottom: 3em;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 15em;
            height: 3em;
            background-color: #a9a9a9;
            cursor: pointer;
            font-size: 1em;
            display: flex;
            justify-content: center;

        }
      }
      }
    }
  }
  /* Media queries pour les écrans de taille mobile */
@media (max-width: 768px) {
  #about{
    width: 100%;
  .apropos {
      max-width: 90%; /* Utilise toute la largeur disponible sur les petits écrans */
      padding: 10px; /* Réduit le padding */
  }

  .profile-pic {
      width: 30%; /* Réduit la taille de l'image pour les petits écrans */
      height: 30%;
      margin-bottom: 15px; /* Ajuste la marge inférieure */
  }
  .me {
    width: 100%;
  }

  .me p {
      font-size: 0.8em; /* Réduit la taille de la police pour les petits écrans */
      margin-bottom: 15px; /* Réduit la marge inférieure */
      display: flex;
      flex-wrap: wrap;
  }

  .me button {
      
      margin-top: 1em; /* Réduit la marge supérieure */
      margin: 0;
      width: 12em; /* Réduit la largeur du bouton */
      height: 2.5em; /* Réduit la hauteur du bouton */
      font-size: 0.9em; /* Réduit la taille de la police */
      display: flex;
      justify-content: center;
      align-items: center;

  }
}
}

@media (max-width: 480px) {
  .apropos {
      padding: 5px; /* Réduit davantage le padding pour les très petits écrans */
      width: 90%;
      margin: 0%;
  }

  .profile-pic {
      width: 120px; /* Réduit encore la taille de l'image */
      height: 120px;
  }
.me{
  width: 80%;
}
  .me p {
      font-size: 0.6em; /* Réduit encore la taille de la police */
      margin-bottom: 10px; /* Réduit la marge inférieure */
      width: 100%;
  }

  .me button {
      margin-left: 0; /* Assure qu'il n'y a pas de marge gauche */
      margin-top: 0.5em; /* Réduit la marge supérieure */
      margin-bottom: 0.5em; /* Réduit la marge inférieure */
      width: 10em; /* Réduit encore la largeur du bouton */
      height: 2em; /* Réduit encore la hauteur du bouton */
      font-size: 0.8em; /* Réduit encore la taille de la police */
  }
}