#about {
    background-color: #F5DEB3;
    padding: 50px 20px;
    text-align: center;
    color: white;
    font-family: 'Arial, sans-serif';
  
    .apropos {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 800px;
      margin: 0 auto;
      background: black;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
  
      .profile-pic {
        border-radius: 50%;
        width: 210px;
        height: 210px;
        object-fit: cover;
        margin-bottom: 20px;
      }
  
      .me {
        text-align: left;
        p {
          font-size: 1.2em;
          line-height: 1.6;
          margin-bottom: 20px;
        }
        button{
            
            margin-left: 17em;
            margin-top: 3em;
            margin-bottom: 3em;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 15em;
            height: 3em;
            background-color: #a9a9a9;
            cursor: pointer;
            font-size: 1em;

        }
      }
    }
  }