.contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 2em;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: whitesmoke;
    margin-top: 5em;
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 1em;
   color:  #a9a9a9; /* Bordure sous le texte */
   font-size: 2.5em;
   font-weight: bold;
}

.form-group {
    margin-bottom: 1em;
}

.form-group label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    height: 150px;
    resize: vertical;
}

button {
    display: block;
    width: 100%;
    padding: 1em;
    border: none;
    border-radius: 5px;
    background-color: #a9a9a9;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    
}
.required {
    color: red;
}

/* Media query pour les écrans de taille mobile */
@media (max-width: 768px) {
    .contact-form {
      max-width: 90%; /* Réduis la largeur maximale à 90% de l'écran */
      padding: 1em; /* Réduis le padding */
    }
  
    .contact-form h2 {
      font-size: 2em; /* Réduis la taille de la police du titre */
    }
  
    button {
      font-size: 0.9em; /* Réduis la taille de la police du bouton */
    }
  }
  
  @media (max-width: 480px) {
    .contact-form {
      max-width: 90%; /* Réduis encore la largeur maximale à 95% de l'écran */
      padding: 0.5em; /* Réduis encore le padding */
    }
  
    .contact-form h2 {
      font-size: 1.8em; /* Réduis encore la taille de la police du titre */
    }
  
    button {
      font-size: 0.8em; /* Réduis encore la taille de la police du bouton */
    }
  }