/* Base styles for wide screens (Desktop) */
header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  z-index: 1000;
  transition: top 0.3s;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5em;
  margin-top: -1.5em;
  padding: 0 2em;
}

.logo img {
  width: 180px;
  height: 60px;
  margin-left: 2em;
  margin-top: 0.5em;
}

.linked {
  margin-top: 0.9em;
}

.linked img {
  width: 30px;
  height: 30px;
  margin-top: -10em;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.li {
  margin-right: 2.625em;
  font-size: 20px;
}

.li a {
  color: #a9a9a9;
  text-decoration: none;
  padding: 10px 15px;
  transition: background-color 0.3s, color 0.3s;
}

/* Active link styles */
.li a.active { 
  background-color: #F5DEB3;
  border-radius: 5px;
}

/* Hover effect */
.li a:hover {
  background-color: #F5DEB3;
  border-radius: 5px;
  color: black;
}

/* Mobile-specific styles */
@media (max-width: 1098px) {
  .nav {
    flex-direction: row; /* Keep elements in a row */
    justify-content: space-between; /* Space between logo and toggle */
    align-items: center
    height: auto;
    padding: 0 3em;
    margin-top: 2em;
  }

  .menu-toggle {
    display: block; /* Show the toggle button on mobile */
    cursor: pointer;
  }

  .hamburger {
    width: 30px;
    height: 3px;
    background-color: #333;
    position: relative;
    margin: 0.5em 0;
  }

  .hamburger::before,
  .hamburger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #333;
  }

  .hamburger::before {
    top: -10px;
  }

  .hamburger::after {
    bottom: -10px;
  }

  .nav-menu {
    display: none; /* Hide menu by default */
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: white;
    position: absolute;
    top: 5em;
    left: 0;
  }

  .nav-menu.open {
    display: flex; /* Show menu when open */
  }

  .li {
    margin: 0.5em 0;
    font-size: 18px;
  }
  .logo img {
    
    margin-left: -2em;
    
  }
}
