/* Styles de base pour les écrans larges */
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10em;
    margin-top: -1.5em;
}

.logo img {
    width: 180px;
    height: 60px;
    margin-left: 2em;
    margin-top: -0.5em;
}

.linked {
    margin-top: 0.7em;
}

.linked img {
    width: 30px;
    height: 30px;
    margin-top: -9em;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

.li {
    margin-right: 2.625em;
    font-size: 20px;
}

/* Styles pour les écrans mobiles */
@media (max-width: 900px) {
    .logo img {
       margin: 0;
    }
    .nav {
        display: flex;
        flex-direction: column;
        
        margin: 0%;
        height: 10em;
        margin-top: 1.5em;
    }
    .nav-menu {
        display: flex;
        justify-content: center;
        list-style-type: none;
        padding: 0;
        flex-wrap: wrap;
    }
}
